<div *ngIf="msg.showDate" class="date-container">
	<p class="date">{{msg.timestamp | chatDate }}</p>
</div>

<div class="chatBubble">

	<!-- <div class="profile-pic {{msg.position}}"></div> -->
	<div *ngIf="msg.body" class="chat-bubble {{msg.position}}">
		<div class="message">{{msg.body}}</div>
		<div class="message-detail">
			<span>{{msg.timestamp | date: "HH:mm"}}</span>
		</div>
	</div>
	<div *ngIf="msg.img" class="chat-bubble-img {{msg.position}}">
		<img src="{{msg.img}}">
		<div class="message-detail-img">
			<span>{{msg.timestamp| date: "HH:mm"}}</span>
		</div>
	</div>
</div>